body {
  background-color: #f5f6fa;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.navbar-brand {
  font-weight: bold;
  font-size: 1.3rem;
}

.modal-title {
  font-weight: 600;
}
